  @font-face {
		font-family: "Flaticon";
		src: url("../fonts/flaticon.eot");
		src: url("../fonts/flaticon.eot%3F") format("embedded-opentype"),
			 url("../fonts/flaticon.woff2") format("woff2"),
			 url("../fonts/flaticon.woff") format("woff"),
			 url("../fonts/flaticon.ttf") format("truetype"),
			 url("../fonts/flaticon.svg") format("svg");
		font-weight: normal;
		font-style: normal;
	  }
	  
	  @media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
		  font-family: "Flaticon";
		  src: url("../fonts/flaticon.svg") format("svg");
		}
	  }
	  
	  [class^="pbmit-attorco-business-icon-"]:before, [class*=" pbmit-attorco-business-icon-"]:before,
	  [class^="pbmit-attorco-business-icon-"]:after, [class*=" pbmit-attorco-business-icon-"]:after {   
		font-family: 'Flaticon';
		font-size: 20px;
		font-style: normal;
	  }

	  	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/06/2019 07:56
  	*/
	  
	  [class^="pbmit-attorco-business-icon-"]:before, [class*=" pbmit-attorco-business-icon-"]:before,
	  [class^="pbmit-attorco-business-icon-"]:after, [class*=" pbmit-attorco-business-icon-"]:after {   
		font-family: Flaticon;
		font-size: 20px;
		font-style: normal;
	  }
	  
	  .pbmit-attorco-business-icon-suitcase:before { content: "\f100"; }
	  .pbmit-attorco-business-icon-placeholder:before { content: "\f101"; }
	  .pbmit-attorco-business-icon-shield:before { content: "\f102"; }
	  .pbmit-attorco-business-icon-like:before { content: "\f103"; }
	  .pbmit-attorco-business-icon-tap:before { content: "\f104"; }
	  .pbmit-attorco-business-icon-headset:before { content: "\f105"; }
	  .pbmit-attorco-business-icon-order:before { content: "\f106"; }
	  .pbmit-attorco-business-icon-headset-1:before { content: "\f107"; }
	  .pbmit-attorco-business-icon-placeholder-1:before { content: "\f108"; }
	  .pbmit-attorco-business-icon-mail:before { content: "\f109"; }
	  .pbmit-attorco-business-icon-call:before { content: "\f10a"; }
	  .pbmit-attorco-business-icon-smartphone:before { content: "\f10b"; }
	  .pbmit-attorco-business-icon-smartphone-1:before { content: "\f10c"; }
	  .pbmit-attorco-business-icon-placeholder-2:before { content: "\f10d"; }
	  .pbmit-attorco-business-icon-pin:before { content: "\f10e"; }
	  .pbmit-attorco-business-icon-email:before { content: "\f10f"; }
	  .pbmit-attorco-business-icon-email-1:before { content: "\f110"; }
	  .pbmit-attorco-business-icon-smile:before { content: "\f111"; }
	  .pbmit-attorco-business-icon-auction:before { content: "\f112"; }
	  .pbmit-attorco-business-icon-balance:before { content: "\f113"; }
	  .pbmit-attorco-business-icon-legal-document:before { content: "\f114"; }
	  .pbmit-attorco-business-icon-legal:before { content: "\f115"; }
	  .pbmit-attorco-business-icon-law:before { content: "\f116"; }
	  .pbmit-attorco-business-icon-lawyer:before { content: "\f117"; }
	  .pbmit-attorco-business-icon-lawyer-1:before { content: "\f118"; }
	  .pbmit-attorco-business-icon-law-1:before { content: "\f119"; }
	  .pbmit-attorco-business-icon-control:before { content: "\f11a"; }
	  .pbmit-attorco-business-icon-lawyer-2:before { content: "\f11b"; }
	  .pbmit-attorco-business-icon-law-2:before { content: "\f11c"; }
	  .pbmit-attorco-business-icon-law-3:before { content: "\f11d"; }
	  .pbmit-attorco-business-icon-court:before { content: "\f11e"; }
	  .pbmit-attorco-business-icon-defendant:before { content: "\f11f"; }
	  .pbmit-attorco-business-icon-lawyer-3:before { content: "\f120"; }
	  .pbmit-attorco-business-icon-advice:before { content: "\f121"; }
	  .pbmit-attorco-business-icon-law-book:before { content: "\f122"; }
	  .pbmit-attorco-business-icon-briefcase:before { content: "\f123"; }
	  .pbmit-attorco-business-icon-equality:before { content: "\f124"; }
	  .pbmit-attorco-business-icon-lawyer-4:before { content: "\f125"; }
	  .pbmit-attorco-business-icon-oath:before { content: "\f126"; }
	  .pbmit-attorco-business-icon-law-4:before { content: "\f127"; }
	  .pbmit-attorco-business-icon-gavel:before { content: "\f128"; }
	  .pbmit-attorco-business-icon-team:before { content: "\f129"; }
	  .pbmit-attorco-business-icon-auction-1:before { content: "\f12a"; }
	  .pbmit-attorco-business-icon-book:before { content: "\f12b"; }
	  .pbmit-attorco-business-icon-handcuffs:before { content: "\f12c"; }
	  .pbmit-attorco-business-icon-gun:before { content: "\f12d"; }
	  .pbmit-attorco-business-icon-police:before { content: "\f12e"; }
	  .pbmit-attorco-business-icon-agreement:before { content: "\f12f"; }
	  .pbmit-attorco-business-icon-judge:before { content: "\f130"; }